body {
font-family: 'Quicksand', sans-serif;
}
.body {
background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 110vh;
width: 100%;
}
h1 {
/*font-family: 'Archivo Black', sans-serif;*/
color: #fff;
font-weight: normal;
}
h1.title {
font-size: 42px;
text-align: center;
text-transform: uppercase;	
}
img.cover {
box-shadow: 0 0 10px #555;
max-width: 100%;
}
.main {
background: #fff;
/*border: 1px solid #333;*/
box-shadow: 0 0 5px #555;
font-size: 15px;
margin: 0 0 2rem;
padding: 2rem;
}
.main p {
margin: 0 0 1.5rem;	
}
#mc_embed_signup {
border: 1px dashed #fff;
border-radius: 5px;
font-size: 16px;
width: 100%;	
}
input.email {
background: none;
border: none;
color: #fff;
display: inline-block;
outline: none;
padding: 0.5rem;
width: 91%;	
}
input.email:focus {
border: none;	
}
.button {
background: #ccc;
border: none;
border-radius: 0 5px 5px 0;
color: #333;
display: inline-block;
font-weight: bold;
padding: 0.5rem 0.2rem;
transition: all 300ms ease;
width: 9%;
}
.button:hover {
background: #fff;
color: #333;
}
.bttn {
background: #f16e24;
border: 1px solid #f16e24;
color: #fff;
display: block;
font-family: 'Archivo Black', sans-serif;
font-size: 22px;
margin: 0.5rem 0 0;
padding: 0.8rem 1rem;
text-align: center;
text-decoration: none;
text-transform: uppercase;
transition: all 500ms ease;	
}
.bttn:hover {
background: #fff;
color: #f16e24;
text-decoration: none;	
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.note {
color: #fff;	
font-size: 14px;
font-style: italic;	
}
.notice {
background: red;
color: #fff;
padding: 1rem 0.7rem;	
}
.notice h4 {
font-size: 20px;
margin: 0 0 0.3rem;	
}
.testimonial {
border-top: 1px dashed;
font-style: italic;	
padding: 1rem 2rem;	
}
.stars {
font-style: normal;	
}
.stars i {
color: #ffbe00;
font-size: 22px;
margin: 0 0 0.3rem;	
}
.socbtn {
background: #f16e24;
border-radius: 3px;
color: #fff;	
display:block;
font-size: 26px !important;
margin: 0.8rem 0.5rem 0 0;
padding: 0.5rem;
text-align: center;
text-decoration: none;	
transition: all 300ms ease;	
}
.socbtn.fa-facebook {
padding: 0.5rem 1.2rem;	
}
.socbtn:hover {
background: #8A2387;
color: #fff;
text-decoration: none;	
}

/************************MEDIA QUERIES*********************/
@media (max-width: 767px) {
	.body { height: 100%; padding-bottom: 2rem; }
}
